.content p {
  font-size: 1.9rem;
}
.right {
  float: right;
}
.title {
  background:
    linear-gradient(
      rgba(35, 69, 103, .6),
      rgba(35, 69, 103, .6)
    ),url("/dist/img/header.jpeg") no-repeat left top;
  background-position: cover;
  margin: 0  0 5rem 0;
  height: 200px;
  padding: 8rem 0 0 0;

  h1,h5 {
  font-weight: bold;
  color: white;
  text-align: center;
  }
}
.lft-btn {
  float: left;
}
.rt-btn {
  float: right;
}
.story-nav {
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    float: right;
  }
  li {
    color: #ccc;
  }
  .active {
    color: #4a4a4a;
  }
}
footer {
  margin: 3rem 0;
  ul {
    list-style-type: none;
    float: right;
    li {
      display: inline-block;
      padding: 0 1rem;
      i {
        font-size: 2.8rem;
      }
    }
  }
}
